@page
@model HalisCode.Pages.Boolist.IndexModel


<div class="container row">
    <div class="col-9">
        <h3 class="text-info">Book List</h3>
    </div>
    <div class="col-3">
        <a class="btn btn-info text-white" asp-page="/BookList/Create">Create book</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if(Model.Books.Count() > 0)
            {
                <table class="table table-striped borde">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Books.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="Books.FirstOrDefault().Author"></label>
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Books.FirstOrDefault().Isbn)
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach(var item in Model.Books)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Isbn)
                    </td>
  
                    <td>
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                        <a asp-page="Index" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                    }
                </table>
            }
            else
            {
                <p>No books available.</p>
            }
        </form>

    </div>
</div>

